*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(https://media.istockphoto.com/photos/abstract-shiny-surface-white-gray-background-picture-id1341630209?b=1&k=20&m=1341630209&s=170667a&w=0&h=i3UW_Rkj6tbmuAsWYzUQmybJIuFSF30ikoEN7cPCmek=);
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
}
h1,h2{